# Ignora carpetas y archivos generados automáticamente
build/
.gradle/
.idea/
out/
*.iml

# Ignora archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignora logs
*.log

# Ignora archivos de configuración de usuario
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin 